.nav-pills .nav-link.active {
    color: white !important;
    background-color: rgb(76, 53, 117) !important;
    border: 1px solid rgb(76, 53, 117) !important;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
