.table-responsive {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #e0e0e0;
  /* For Firefox */
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
  /* Height of horizontal scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: #e0e0e0;
  /* Track color */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Roundness of the scrollbar */
  border: 2px solid #e0e0e0;
  /* Space around scrollbar */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color on hover */
}

.sticky-left {
  position: sticky;
  left: 0px;
  background-color: #fff;
  z-index: 11;
}

.sticky-left1 {
  position: sticky;
  left: 150px;
  background-color: #fff;
  z-index: 11;
}

.sticky-left2 {
  position: sticky;
  left: 300px;
  background-color: #fff;
  z-index: 11;
}

.scrollbar1::-webkit-scrollbar {
  width: 8px;
}

.scrollbar1::-webkit-scrollbar-track {
  background: #e0e0e0;

  /* Track color */
}

.scrollbar1::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Roundness of the scrollbar */
  border: 2px solid #e0e0e0;
  /* Space around scrollbar */
}

.scrollbar1::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color on hover */
}

.scrollbar1::-webkit-scrollbar-corner {
  background-color: #555;
  /* Color on hover */
}

.downtoupani {
  animation: upanimation 0.5s linear forwards;
}

@keyframes upanimation {
  0% {
    transform: translateY(20px);
    /* Start from below the viewport */
    opacity: 0;
    /* Optionally start with opacity 0 */
  }

  100% {
    transform: translateY(0);
    /* Move to the original position */
    opacity: 1;
    /* Optionally fade in */
  }
}

.scrollmade::-webkit-scrollbar {
display: none;
}

.scrollmade2 {
  overflow-y: scroll;
  transition: 0.8s;
}

/* Webkit browsers (Chrome, Safari) */
.scrollmade2:hover::-webkit-scrollbar {
  width: 5px;
  transition: 0.8s;
}
.scrollmade2::-webkit-scrollbar {
  transition: 0.8s;
  width: 0px; /* Width of the scrollbar */
}

.scrollmade2::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 10px; /* Rounded corners on track */
}

.scrollmade2::-webkit-scrollbar-thumb {
  background-color: #818181; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners on thumb */
}

.formbg {
  background-color: rgb(233, 231, 236);
}
